<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>Tasks</title>
</head>
<body>

<a th:href="@{/lists}"> All Lists </a>

<h3>Add Task</h3>
<form th:object="${newTask}" method="POST" action="/list/add-task">
    <table>
        <tr>
            <td><label>Name:</label></td>
            <td><label>
                <input type="text" th:field="*{name}"/>
            </label></td>
        </tr>

        <tr>
            <td><label>Description:</label></td>
            <td><label>
                <input type="text" th:field="*{description}"/>
            </label></td>
        </tr>
    </table>
    <input type="submit" value="add">
</form>

<h3>Tasks</h3>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Description</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${tasks.isEmpty()}">
        <td colspan="4">No Tasks</td>
    </tr>
    <tr th:each="task : ${tasks}">
        <td><span th:text="${task.getName()}"> Name </span></td>
        <td><span th:text="${task.getStatus()}"> Status </span></td>
        <td><span th:text="${task.getDescription()}"> Description </span></td>
        <td><a th:href="@{/list/delete(id=${task.getId()})}"> Delete </a></td>
        <td><a th:if="${task.getStatus() == TO_DO}" th:href="@{/list/mark-done(id=${task.getId()})}"> Done </a></td>
        <td><a th:if="${task.getStatus() == DONE}" th:href="@{/list/mark-undone(id=${task.getId()})}"> UnDone </a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
