<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<head>
    <title>Task Lists</title>
</head>
<body>

<h3>Add Task List</h3>
<form action="/lists/add-task-list" method="POST" th:object="${newTaskList}">
    <table>
        <tr>
            <td><label>Name:</label></td>
            <td><label>
                <input th:field="*{name}" type="text"/>
            </label></td>
        </tr>

        <tr>
            <td><label>Description:</label></td>
            <td><label>
                <input th:field="*{description}" type="text"/>
            </label></td>
        </tr>
    </table>
    <input type="submit" value="add">
</form>

<h3>Tasks</h3>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>TO_DO</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${taskLists.isEmpty()}">
        <td colspan="4">No Task Lists</td>
    </tr>
    <tr th:each="taskList : ${taskLists}">
        <td><a th:href="@{/list(id=${taskList.getId()})}" th:text="${taskList.getName()}"> Name </a></td>
        <td><span th:text="${taskList.getDescription()}"> Description </span></td>
        <td><a th:text="${@taskService.findNotDoneTasksByListId(taskList.getId()).size()}"> TO_DO </a></td>
        <td><a th:text="${@taskService.findByTaskListId(taskList.getId()).size()}"> Total </a></td>
        <td>
            <a th:href="@{/lists/delete(id=${taskList.getId()})}">
                <button type="submit">Remove</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
